html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}


body {
    background-image: url(../michal-mancewicz-R9L7ukhBSgs-unsplash.jpg);
    margin-bottom: 60px;
}

#searchResults {
    visibility: hidden;
}

#time {
    visibility: hidden;
}

.center {
    margin-top: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: blue;
    background-color: white;
    text-align: center;
    font-family: monospace;
    font-size: 40px;
    font-weight: bold;
    font-variant: small-caps;
    text-shadow: -3px 2px black;
    }

#titleText {
    color: blue;
}


.buttons {
    
}
